<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://jax-ws.dev.java.net/spring/core
        http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet
        http://jax-ws.dev.java.net/spring/servlet.xsd"
>

    <wss:binding url="/soap">
        <wss:service>
            <ws:service bean="#departmentWs"/>
        </wss:service>
    </wss:binding>

    <wss:binding url="/soap/certificate">
        <wss:service>
            <ws:service bean="#certificateWs"/>
        </wss:service>
    </wss:binding>

    <wss:binding url="/soap/grade">
        <wss:service>
            <ws:service bean="#gradeWs"/>
        </wss:service>
    </wss:binding>


    <!-- Web service methods -->
    <bean id="departmentWs" class="ru.OSHC.webService.DepartmentWebService">
        <property name="departmentService" ref="depService"/>
    </bean>

    <bean id="certificateWs" class="ru.OSHC.webService.CertificateWebService">
        <property name="certificateService" ref="certificateService"/>
    </bean>

    <bean id="gradeWs" class="ru.OSHC.webService.GradeWebService">
        <property name="gradeService" ref="gradeService"/>
    </bean>

    <bean id="depService" class="ru.OSHC.service.DepartmentService"/>

    <bean id="certificateService" class="ru.OSHC.service.CertificateService"/>

    <bean id="gradeService" class="ru.OSHC.service.GradeService"/>

</beans>