* {
    background-color: aliceblue;
    color: tomato;
}

.navbar-header {

}

.navbar-nav {
    text-decoration: none;
    float: right;
    margin: 0 0 10px 10px;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}